server {
    listen 80;

    location /uploads {
        alias /var/www/flask_zhihu/user_image;
    }

    location /images {
        alias /var/www/flask_zhihu/images;
    }

    location /static {
        alias /var/www/flask_zhihu/static;
    }

    location / {
        proxy_pass http://localhost:2000;
    }
}
