<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        {% block head_link %}{% endblock %}
        <link href="{{ url_for('static', filename='zhihu/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    </head>
    <body>
        <div class="container-fluid">
            <div class="band row justify-content-center">
                <div class="col-6 common-user-info">
                    <a class="common-user-info-text" href={{ url_for("zhihu.index") }}>话题浏览</a>
                    <a class="common-user-info-text" href={{ url_for("zhihu.question_submit_view") }}>发布话题</a>
                    <a class="common-user-info-text" href={{ url_for("root.index") }}>首页</a>
                </div>
                <div class="col-2 current-user-info">
                    {% if not user.is_guest() %}
                        你好，<a href={{ url_for("user.index") }}>{{ user.username }}</a>
                        <a href= {{ url_for('user.logout') }} style="margin-left:20px;">退出登录</a>
                    {% else %}
                        <div class="guest"></div>
                        <a href={{ url_for("user.login_view") }}>登录</a>
                        <a href={{ url_for("user.register_view") }}>注册</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% block main %}{% endblock %}
    </body>
</html>
