{% extends "zhihu/base.html" %}
{% block title %}知乎主页{% endblock %}
{% block main %}

        <div class="container-fluid">
            <div class="row justify-content-center">
              <div class="col-6">
                  <div class="question-list">
                    <!-- 这部分是回答列表展示，由 JS 来渲染 -->
                    <!-- 这部分是话题列表 -->
                    {% for q in questions | sort(attribute='updated_time', reverse = True)%}
                        <div class="question-item">
                        <a href={{ url_for('zhihu.question_detail', id=q.id) }}
                            class="question-title">
                            {{ q.title }}
                        </a>
                        <br>
                        <span class="question-content">{{ q.content }}</span>
                        <br><br>
                        </div>
                    {% endfor %}

                  </div>

              </div>
              <div class="col-2">
                回答的侧栏
              </div>
            </div>
        </div>

{% endblock %}
