{% extends "zhihu/base.html" %}
{% block title %}知乎主页{% endblock %}

{% block head_link %}
<link href="{{ url_for('static', filename='quill.snow.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='zhihu/question_detail.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}

        <div class="container-fluid border border-light border-top-0 question">
            <div class="row justify-content-center">
              <div class="col-6">
                <div>
                  <span class="question-title font-weight-bold">
                    {{ question.title }}
                  </span>
                </div>
                <div class="font-weight-normal text-justify">
                      {{ question.content }}
                </div>
                <br>
                <div>
                  <!-- 写回答 -->
                  <button type="button" class="btn btn-sm btn-outline-primary write-answer">
                      写回答
                  </button>
                </div>
              </div>
              <div class="col-2">
                One of two columns
              </div>
            </div>
        </div>
        <div class="container-fluid border border-light border-top-0 container-main">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="answer-list">
                    <!-- 这部分是回答列表展示，由 JS 来渲染 -->

                    </div>
                    <!-- 这部分是提交回答 -->
                    <div class="answer-submit border border-light">
                        <input type="text" id="question-id" value={{ question.id }} hidden=True>
                        {% if not user.is_guest() %}
                        <div id="editor" style="height: 150px"></div>
                        <button type="button" id='button-submit-answer'>提交</button>
                        {% endif %}
                    </div>
                        <!-- Create the editor container -->

                </div>
              <div class="col-2">
                回答的侧栏
              </div>
            </div>
        </div>

    <!-- Include the Quill library -->
    <script src="{{ url_for('static', filename='quill.js') }}"></script>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
    <script src="{{ url_for('static', filename='zhihu/question_detail.js') }}"></script>

{% endblock %}
