<html>
    <head>
        <title>在线聊天室</title>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    </head>
    <body>
        <h1>在线聊天室</h1>
        <h3>在线人数：<span id='online_count'>x</span></h3>
        <textarea id="id-chat-area" cols="70" rows="25"></textarea><br><br>
        <input id="id-text" size="70" placeholder="请输入消息"><br><br>
    </body>
    <script src="{{ url_for('static', filename='utils.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='chat/chat.js') }}" charset="utf-8"></script>
</html>
