{% extends "zhihu/base.html" %}
{% block title %}知乎主页{% endblock %}
{% block main %}

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6">
          <!-- user profile image -->
          <img src="{{ url_for('root.uploads', filename=user.image) }}"
              width="200" height="200">
          <p>上传头像</p>
          <form method=post action={{ url_for(".add_img") }} enctype=multipart/form-data>
              <p><input type=file name=file>
              <input type=submit value=Upload>
          </form>
          <!-- user name -->
          <div class="card-title">id: {{ user.id }}</div>
          <div class="card-title">{{ user.username }}</div>
          <br>
      </div>
    </div>
</div>

{% endblock %}
