<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>登录</title>
    </head>
    <body>
        <div class="">
            <form class="" action={{ url_for("user.register") }} method="post">
                用户：<input type="text" name="username" value="" placeholder="username">
                密码：<input type="text" name="password" value="" placeholder="password">
                <button type="submit" name="button">注册</button>
            </form>

        </div>
    </body>
</html>
